*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    font-size: 36px;
    font-weight: 600;
    color: #333;

}
h1{
    color: #333;
    font-weight: 600;
}
h3{
    color: #333;
    font-weight: 600;
    font-size: 26px;

}
h4{
    color: #333;
    font-weight: 600;

}
p{
    color: #333;
    font-size: 20px;
}

                /* -------------------- The Header Section -------------------- */

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Images/Header1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: .5% 6%;
    justify-content: space-between;
    align-items: center;
}
.header nav{
   background: #fff;
   /* opacity: 90%; */
}
.header nav a{
    font-size: 30px;
    color: #555;
    font-weight: bolder;
    text-decoration: none;
}
.header nav .logo{
   color: #555;
   font-size: 25px;
}
/* .header nav .logo span{
   color: #fc6006;
} */
.navigator{
    flex: 1;
    text-align: right;
}
.navigator ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.navigator ul li a{
    color: #555;
    text-decoration: none;
    font-size: 14px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navigator ul li a:hover{
    color: #fc6006;
}
.welcome{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.welcome h1{
    font-size: 62px;
    color: #fc6006;
}
.welcome p{
    font-size: 30px;
    margin: 10px 0 40px;
    color: #fff;
}
.btn{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    border: 1px solid #fff;
    padding: 12px 34px;
    display: inline-block;
    position: relative;
    background: transparent;
    border-radius: 5px;
}
.btn:hover{
    border: 1px solid #fc6006;
    background: #fc6006;
    transition: 2s;
}
nav .icons{
    display: none;
}
@media(max-width:700px){
   .header nav .logo{
      font-size: 18px;
   }
    .header nav ul li a{
        font-size: 20px;
    }
    .welcome h1{
        font-size: 42px;
    }
    .welcome p{
        font-size: 28px;
    }
    .btn{
        font-size: 16px;
        border-radius: 5px;
    }
    .navigator ul{
        padding: 30px;
    }
    .navigator ul li{
        display: block;
    }
    .navigator{
        position: fixed;
        background: #fff;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .navigator ul li a{
        color: #333;
    }
    nav .icons{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}



                        /* ------------------- Facilities ------------------- */
 .facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
 }
 .facilities h2{
    font-weight: 600;
 }
 .facilities p{
    padding-top: 20px;
 }
 .content{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    text-align: left;
 }
 .image{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    position: relative;
    overflow: hidden;
    
 }
 .image img{
    width: 100%;
    border-radius: 10px;
    display: block;
    height: 300px;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border: 1rem solid rgba(0, 0, 0, .1);

 }
 .image p{
    padding: 0;
 }
 .image h3{
    margin-top: 16px;
    margin-bottom: 10px;
    text-align: left;
 }
 @media(max-width:700px) {
    .content{
        flex-direction: column;
    }
    h2{
        font-size: 25px;
     }
     .facilities p{
        padding-top: 5px;
        font-size: 16px;
     }
     .image img{
        height: 200px;
     }
     h3{
        font-size: 20px;
     }
 }

                        /* ------------------- Prices --------------------  */
 .prices{
    width: 60%;
    margin: auto;
    /* background: url(Images/img/1.jpeg); */
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Images/1.jpeg);
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    /* display: flex; */
    justify-content: center;
    /* position: relative; */
    align-items: center;
    margin-top: 100px;
 }
 .prices h2{
    /* font-size: 36px; */
    text-align: center;
    padding-top: 50px;
    color: #fff;
 }
 .prices .list{
    width: 90%;
    display: flex;
    margin: auto;
 }
 .prices table{
    width: 100%;
    text-align: left;
    margin-bottom: 50px;
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
 }
 .prices table td{
    padding-bottom: 10px;
 }
 @media(max-width: 700px){
    .prices table{
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 16px;
     }
     .prices{
        width: 80%;
     }
     .prices h2{
        padding-top: 20px;
     }
 }


                        /* -------------------- Testimonials -------------------- */
 .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
 }
 .testimononial{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
 }
 .testimonial-col{
    flex-basis: 44%;
    display: flex;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
 }
 .testimonial-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
 }
 .testimonial-col p{
    padding: 0;
 }
 .testimonial-col h3{
    margin-top: 15px;
 }
 .testimonial-col div img{
    height: 30px;
 }
 @media(max-width:700px) {
    .row{
        flex-direction: column;
    }
    .testimononial h2{
      font-size: 22px;
    }
    .testimonial-col img{
        height: 40px;
        margin-left: 0px;
        margin-right: 12px;
     }
     .testimonial-col h3{
        margin-top: 5px;
        font-size: 16px;
     }
     .testimonial-col p{
      font-size: 16px;
     }
    .testimonial-col div img{
        height: 20px;
        margin-right: 5px;

     }
 }


                        /* ------------------ Contact -------------------- */
 .contact{
    width: 80%;
    margin: 100px auto;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(Images/2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
 }
 .contact h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
 }
 @media(max-width:700px) {
    .contact h1{
        font-size: 20px;
     }
 }

 /* ------------------- footer ------------------- */
 .footer{
    width: 100%;
    padding: 30px 0;
    text-align: center;
 }
 .footer h4{
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
 }
 .footer .icons{
    margin: 0 13px;
    padding: 18px;
    cursor: pointer;
 }
 .footer .icons img{
    padding-left: 20px;
 }
 .footer p{
    width: 60%;
    margin: auto;
    font-size: 16px;
 }
 .credit{
    text-decoration: underline;
    font-size: 14px;
 }


 /* ----------------- Success Page -------------------  */

.my-body{
   height: 550px;
}
.popup{
   width: 400px;
   background: #fff;
   border-radius: 6px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   text-align: center;
   padding: 0 30px 30px;
   color: #333;
}
.popup img{
   width: 100px;
   margin-top: -50px;
   border-radius: 50%;
   box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}
.popup h2{
   font-size: 38px;
   font-weight: 500;
   margin: 30px 0 10px;
}
.popup button{
   width: 100%;
   margin-top: 50px;
   padding: 10px 0;
   background: #fc6006;
   color: #fff;
   border: 0;
   outline: none;
   font-size: 18px;
   border-radius: 4px;
   cursor: pointer;
   box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
}
